body {
  background-color: #9fe5c1;
  margin: 0;
  font-family: Arial, sans-serif; /* Use Arial as primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, monospace; /* Use Consolas for code */
}